services:
  bot:
    build: .
    container_name: tasker_bot
    restart: on-failure
    tty: true
    stdin_open: true
    env_file:
      - bot-app/.env
    environment:
      - TZ=Europe/Moscow
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - webhook


networks:
  webhook:
    external: true
